body {
  background-color: #dad4ef;
}
body a {
  color: #000;
  text-decoration: none;
}
.border {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  border: 2px solid #dadada;
}
.border-hi {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.side-left {
  min-height: 800px;
}
.side-right {
  min-height: 800px;
}
.new {
  margin-top: 15px;
  padding: 10px;
  border-top: 1px solid #dadada;
}
.new .datetime {
  display: block;
  font-size: 16px;
  border-radius: 10px;
  color: #ada5a5;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.new .title {
  font-weight: bold;
  font-size: 30px;
}
.new .img {
  padding: 10px;
  padding-left: 0;
}
.new .text {
  font-size: 18px;
}
